@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?6264500');
  src: url('../fonts/fontello.eot?6264500#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?6264500') format('woff2'),
       url('../fonts/fontello.woff?6264500') format('woff'),
       url('../fonts/fontello.ttf?6264500') format('truetype'),
       url('../fonts/fontello.svg?6264500#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6264500#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-telegram:before { content: '\2190'; } /* '←' */
.icon-pulse:before { content: '\2191'; } /* '↑' */
.icon-reddit:before { content: '\2192'; } /* '→' */
.icon-twitter:before { content: '\2193'; } /* '↓' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-flash-1:before { content: '\26a1'; } /* '⚡' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-quote:before { content: '\275e'; } /* '❞' */
.icon-coingecko:before { content: '\27f2'; } /* '⟲' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-eject:before { content: '\2ecf'; } /* '⻏' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-trash-empty:before { content: '\e729'; } /* '' */
.icon-zoom-in:before { content: '\e750'; } /* '' */
.icon-zoom-out:before { content: '\e751'; } /* '' */
.icon-instagram:before { content: '\e75c'; } /* '' */
.icon-linkedin:before { content: '\e75d'; } /* '' */
.icon-mercuryo:before { content: '\e75e'; } /* '' */
.icon-ownr:before { content: '\e75f'; } /* '' */
.icon-facebook:before { content: '\e760'; } /* '' */
.icon-down-big:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-arrows-cw:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-right-big:before { content: '\e806'; } /* '' */
.icon-left-big:before { content: '\e807'; } /* '' */
.icon-ccw:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e81b'; } /* '' */
.icon-link:before { content: '\e81c'; } /* '' */
.icon-up-big:before { content: '\e81d'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-folder-open:before { content: '📂'; } /* '\1f4c2' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-link-1:before { content: '🔗'; } /* '\1f517' */