/* --- variables --- */
@import "parts/variables"

/* --- hamburger --- */
@import "humburger/hamburger"

/* --- grid --- */
@import "parts/grid"

/* --- top_panel --- */
@import "parts/top_panel"

/* --- left_panel --- */
@import "parts/left_panel"

/* --- hamburger --- */
@import "parts/right-panel"

/* --- header --- */
@import "parts/header"

/* --- header --- */
@import "parts/icon_list"

/* --- header --- */
@import "parts/card"

/* --- header --- */
@import "parts/circled"

/* --- footer --- */
@import "parts/footer"

/* --- specification --- */
@import "parts/specification"

/* --- media --- */
@import "parts/media"

/* --- popup --- */
@import "popup/popup-fadeIn-top"

.rel
  position: relative

.abs
  position: absolute




.nav-bar
  .nav
    &-list
    &-item
      padding: 15px
      a
        color: $text-black
        text-transform: uppercase
        font-family: $font-family-regolar
        font-size: 15px
        line-height: 20px

.header-bg
  background: url("../img/Group 98.png") no-repeat center center / cover
  height: 50vh
  margin-top: 86px



.title-wrap
  padding: 20px 0
  h1, h2, h3, h4 
    font-style: normal
    font-family: $font-family-regolar
    color: $text-black
    font-weight: bold
  h1
    font-size: 40px
    line-height: 55px

  h2
    font-size: 25px
    line-height: 34px
    &.large
      font-size: 35px
      line-height: 48px

  h4 
    font-size: 18px
    line-height: 25px

.text-block
  
  





.title-bg
  background: url("../img/Ellipse 47.png") no-repeat center center / contain
  background-size: 100%
  width: 100%

.coment
  -webkit-transform: rotate(-90deg) //Chrome, Safari
  -moz-transform: rotate(-90deg) //Firefox
  -o-transform: rotate(-90deg) //Opera
  -ms-transform: rotate(-90deg) //IE
  transform: rotate(-90deg) //браузеры без префексов
  p 
    font-family: $font-family-regolar
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: $text-black
    span 
      font-size: 18px
      line-height: 25px
      color: $accent 

.text-wrap
  background: #F4F5F9
  padding: 90px 50px

.bg-inherit
  background: inherit

.mb155
  margin-bottom: 155px

.shadow
  box-shadow: 0px 0px 15px rgba(132, 130, 155, 0.25)
  


.location
  &:nth-child(2n)
    .location-item
      .row
        flex-direction:   row-reverse

.map-tmp
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  width: 100%
  height: 100%
  
.text-wrap


.text
  p 
    font-family: $font-family-regolar
    color: $text-black
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 27px


.text-inner
  ul
    li
      font-family: $font-family-regolar
      color: $text-black
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 40px
      i
        font-size: 20px
        margin-right: 14px
        color: $accent


.feedback
  background: $text-gray
  .form-wrap
    height: 100%
    background: $bg-all
    padding: 63px 77px
    .form-holder
      width: 75%
      margin: 0 auto
      input 
        border: none
        border-bottom: 1px solid $text-dark
        background: inherit
        padding: 5px
      label
        padding: 40px 0 5px
        color: $text-dark
      .button-wrap
        margin-top: 75px

.header-benefits
  z-index: 10
  position: relative
  .btn-wrap
    z-index: 100
    padding: 22px 18px
    a
      font-family: $font-family-regolar
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
      text-align: center
      letter-spacing: 0.05em
      color: #FFFFFF
      &::after
        font-family: fontello
        display: block
        content: "\E819"
        width: 143px
        height: 13px
        color: $accent


.lang 
  .lang-list
    .lang-item
      margin: auto 5px
      a 
        font-family: $font-family-regolar
        color: $text-black
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 20px
        color: #fff
        transition: all .3s
        &:hover
          color: #F1404B
        
.vertical-title
  p   
    font-family: $font-family-regolar
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    span
      color: $accent 
      

.benefits-list
  background: #E5E5E5
  padding: 50px 50px 10px 50px


