/* --- variables --- */
@import "parts/variables"

/* --- hamburger --- */
@import "parts/left_panel"

/* --- hamburger --- */
@import "humburger/hamburger"

/* --- grid --- */
@import "parts/grid"

/* --- footer --- */
@import "parts/footer"

/* --- specification --- */
@import "parts/specification"

/* --- media --- */
@import "parts/media"

/* --- popup --- */
@import "popup/popup-fadeIn-top"



.nav-bar
  .nav
    &-list
    &-item
      padding: 15px
      a
        color: $text-black
        text-transform: uppercase
        font-family: $font-family-regolar
        font-size: 15px
        line-height: 20px

.header-bg
  background: url("../img/Group 98.png") no-repeat center center / cover
  height: 100vh



.title-wrap
  h1
    font-family: $font-family-regolar
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 55px
    color: $text-black

  h2
    font-family: $font-family-regolar
    font-style: normal
    font-weight: bold
    font-size: 25px
    line-height: 34px
    color: $text-black
    &.large
      font-size: 35px
      line-height: 48px



.title-bg
  background: url("../img/Ellipse 47.png") no-repeat center center / contain
  background-size: 100%
  width: 100%
  height: 100vh

.coment
  -webkit-transform: rotate(-90deg) //Chrome, Safari
  -moz-transform: rotate(-90deg) //Firefox
  -o-transform: rotate(-90deg) //Opera
  -ms-transform: rotate(-90deg) //IE
  transform: rotate(-90deg) //браузеры без префексов
  p 
    font-family: $font-family-regolar
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: $text-black
    span 
      font-size: 18px
      line-height: 25px
      color: $accent 

.text-holder
  background: #F4F5F9
  box-shadow: 0px 0px 15px rgba(132, 130, 155, 0.25)
  padding: 90px 50px
  .title

.location
  &:nth-child(2n)
    .location-item
      .row
        flex-direction:   row-reverse

.map-tmp
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  width: 585px
  height: 100%
  
  
.text
  p 
    font-family: $font-family-regolar
      color: $text-black
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 27px


.text-inner
  .text-item
    font-family: $font-family-regolar
    color: $text-black
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 40px
    i
      font-size: 20px
      margin-right: 14px
      color: $accent


.feedback-text