/* --- variables --- */
@import "parts/variables"


.card
    &-item
        width: 34%
        margin: 30px 8%
        padding: 15px
        border-bottom: 1px solid #ccc
        border-left: 1px solid #ccc
        // border-right: 1px solid #ccc
        &:nth-child(4n)
            margin-right: 0

.card-wrapper
    .card-header
        margin-left: 34px
        i
            font-size: 49px
            margin-right: 9px
        h3 
            font-family: $font-family-regolar
            color: $text-black
            font-weight: 600
            font-size: 18px
            line-height: 25px
    .card-text
        margin: 20px 8px 8px 34px
        p 
            font-family: $font-family-regolar
            color: $text-black
            font-style: normal
            font-weight: normal
            font-size: 15px
            line-height: 20px