/* --- variables --- */
@import "parts/variables"


.card
    &-item
        width: 34%
        margin: 30px 8%
        padding: 18px
        border-bottom: 1px solid #F1404B
        border-left: 1px solid #F1404B
        position: relative
        // border-right: 1px solid #ccc
        &:nth-child(4n)
            margin-right: 0
        &::after, &::before
            display: block
            content: ""
            background: #F1404B
            position: absolute
        &:after
            width: 1px
            height: calc( 100% - 40px )
            right: 0
            bottom: 0
        &::before
            width: 33px
            height: 1px
            left: 0
            top: 0

.card-wrapper
    .card-header
        margin-left: 15px
        margin-top: -43px
        color: #000
        i
            font-size: 50px
            margin-right: 9px
        h3 
            font-family: $font-family-regolar
            color: $text-black
            font-weight: 600
            font-size: 18px
            line-height: 25px
    .card-text
        margin: 20px 8px 8px 34px
        p 
            font-family: $font-family-regolar
            color: $text-black
            font-style: normal
            font-weight: normal
            font-size: 15px
            line-height: 20px

