
.footer
  background: #252B41
  &.mt
    margin-top: 100px
  .logo
    a 
      display: block
      img
        width: 100%
        max-width: 112px
        height: auto
  .nav-bar
    .nav
      &-list
      &-item
        a
          color: $text-gray
          transition: $transition
          &:hover
            color: $accent

.footer
  .phone
    a
      display: block
      span
        color: $text-gray
        text-transform: uppercase
        font-family: $font-family-regolar
        font-size: 15px
        line-height: 20px
        &:hover
          color: $accent
      i 
        font-size: 25px
        color: $text-gray
        margin-right: 10px
      


.footer
  padding: 0
  // .footer-top
  .footer-bottom
    border-top: 0.3px solid #6F6E6E
    padding: 20px 0
  .copyright
    padding-right: 15px
    a
      display: block
      color: $text-gray
      font-family: $font-family-regolar
      font-size: 15px
      line-height: 20px
      &:hover
        color: $accent
  .soc
    &-list 
    &-item
      a
        color: $text-gray
        padding-left: 15px
        font-size: 25px
        &:hover
          color: $accent




