header
    // padding-top: 86px
    height: 100vh
.header
    &-img
        margin-top: 86px
        transform: translateX(-85px)
        height: calc(100vh - 172px)
        overflow: hidden
        img
            min-width: 100% 
    &-benefits
        .icon
            &-list
                height: 86px
