[class*=" icon-"]:before, [class^=icon-]:before
    position: relative
    z-index: 1

.panel-top
    .icon
        &-item
            padding: 15px
            [class^="icon-"]
                margin-right: 15px



.icon-svg
    &::before
        content: ''
        display: block
        width: 40px
        height: 40px
    &.bg-1
        &::before
            background: url('img/icon/01.svg') no-repeat center center / contain
    &.bg-2
        &::before
            background: url('img/icon/02.svg') no-repeat center center / contain
    &.bg-3
        &::before
            background: url('img/icon/03.svg') no-repeat center center / contain
    &.bg-4
        &::before
            background: url('img/icon/04.svg') no-repeat center center / contain
    &.bg-5
        &::before
            background: url('img/icon/05.svg') no-repeat center center / contain


.icon-list-wrap
    margin: 30px 0
.icon-item
    padding: 7px
    .icon-wrap
        display: flex
        justify-content: center
        align-items: center
        i
            font-size: 25px

    .icon           
        &-color
            width: 47px
            min-width: 47px
            height: 47px
            // border-radius: 100px
            margin-right: 15px
            // overflow: hidden
            position: relative
            display: block
            &::before
                content: ''
                width: 100%
                height: 100%
                position: absolute
                left: 0
                right: 0
                display: block
        &-pic
            &::before
                background: url("img/icon/pic-color_2.svg") no-repeat center center / cover
        &-loader
            &::before
                background: url("img/icon/loader-color_2.svg") no-repeat center center / cover
        &-build
            &::before
                background: url("img/icon/build-color_2.svg") no-repeat center center / cover
        &-nassr
            &::before
                background: url("img/icon/nassr-color_2.svg") no-repeat center center / cover

    .icon-content
        // margin-left: 34px
        .icon
            &-title         
                font-family: $font-family-regolar
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 20px
                color: $text-black
                text-transform: uppercase
            &-desc
                font-family: $font-family-regolar
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 17px
                color: $text-black
                padding-top: 10px



.defoult
    &.icon-item
        margin-bottom: 24px
        .icon-wrap 
            margin-right: 20px
            width: 45px
            min-width: 45px
            height: 45px
            i
                font-size: 45px
    


.darker
    .icon-item .icon-content
        .icon-title
            color: #fff

        .icon-desc
            color: #DCDFE6



i
    &.after[class^="icon-"]:after
        display: block
        content: ""
        width: 45px
        height: 40px
        background: url("img/Ellipse.svg") no-repeat center center / cover
        position: absolute
        z-index: 0
        top: 50%   
        left: 50% 
        transform: translate(-50%, -50%)

@media screen and ( min-width: 576px )

    .icon-content
        .icon
            &-title         
                font-size: 18px
                line-height: 25px
            &-desc
                font-size: 17px
                line-height: 20px
                padding-top: 0

    // .defoult
    //     &.icon-item
    //         .icon-wrap 
    //             margin-right: 37px
    //             width: 40px
    //             min-width: 40px
    //             height: 40px
    //             i
    //                 font-size: 40px


    i
        &.after[class^="icon-"]:after
            width: 41px
            height: 36px





@media screen and ( min-width: 1200px )

    .defoult
        &.icon-item
            margin-bottom: 34px
            .icon-wrap 
                margin-right: 47px
                width: 50px
                min-width: 50px
                height: 50px
                i
                    font-size: 50px

