.panel
    &-right
        box-shadow: $box-shadow
        width: 60px
        height: 100vh
        position: absolute
        z-index: 1
        top: 0
        right: 0
        bottom: 0
        padding: 86px 10px
        overflow: hidden
        display: none
        a 
            color: #fff
            &:hover
                color: $accent3
        &-wrap
            position: relative
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:after, &::before
                content: ""
                display: block
                width: 1px
                height: 50vh
                background: $text-gray
                left: 50%
                margin: 30px 0

            &:after
                bottom: 0
            &::before
                top: 0


@media screen and ( min-width: 1200px )
    .panel-right
        width: 100px;