/* --- variables --- */
@import "variables"
html
  -ms-overflow-style: scrollbar

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box
  outline: none
  &:focus, &:active
    outline: none
body
  font-size: 15px
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif

h1, h2, h3, h4, p
  margin: 0
  padding: 0
  font-weight: normal

ul, li
  list-style: none
  margin: 0
  padding: 0

a, a:hover, a:focus, a:active
  text-decoration: none
  color: #222

p
  margin: 15px 0
  font-family: $font-family-regolar
  font-style: normal
  font-weight: normal
  font-size: 15px
  line-height: 20px
  color: $text-black

img
  max-width: 100%
  height: auto

input 
  -webkit-appearance: none
  border-radius: 0 


section, footer
  padding: 20px 0

.section
  padding: 50px 0

.section-large
  padding: 200px 0

// header, section, footer
//   overflow: hidden

i.icon-arrow
  width: 50px
  height: 20px
  display: block
  overflow: hidden
  &:before
    content: ''
    width: 100%
    height: 100%
    display: block
    margin: 0
  &.left
    &::before
      background: url("img/icon/arrow-left.svg") no-repeat center center / contain
  &.right
    &::before
      background: url("img/icon/arrow-right.svg") no-repeat center center / contain
    
.pb-lg-65
  padding-bottom: 65px

.dark-grayer
  background: #DCDFE6

.size-full
  width: 100%
  height: 100%

.btn-wrap
  .icon-angle-left
    font-size: 15px
    color: $text-black
  .btn-back
    font-family: $font-family-regolar
    font-weight: normal
    font-size: 15px
    text-transform: uppercase
    color: $text-black
    transition: $transition
    &:hover
      color: $accent

.btn
  font-family: Nunito
  display: inline-block
  font-weight: 600
  font-size: 15px
  line-height: 20px
  background: $accent-opacity
  border: 1px solid $accent
  padding: 15px 20px
  text-transform: uppercase
  margin: 0 
  cursor: pointer
  line-height: 18px
  font-size: 15px
  -webkit-transition: $transition
  // transition: $transition
  transition: .3s cubic-bezier(.38,-1.13,.63,2.06) transform, .3s background, .3s color
  transform: scale(1)
  &:hover
    background: lighten($accent, 5%)
    color: #fff
    box-shadow:  0 0 20px 0 rgba($text-dark, .35)
    transform: scale(1.05)
  &-solid
     background: $accent
     color: #fff


@-moz-document url-prefix()
  button.btn

.title-wrap
  &.plus-pt
    padding-top: 35px

.mb-125
  margin-bottom: 25px

.centro
  text-align: center !important
.rel
  position: relative

.abs
  position: absolute

.grayer
  background:  $bg-all
  // box-shadow: $box-shadow

.lighter
  background: #fff


.darker
  background: #252B41
  p
    color: #fff

.rent
  .feedback
    padding-bottom: 0



.feedback
  .text-wrap
    text-align: center
    .text-inner ul li 
      justify-content: center


.vertical-title-wrap
  margin-bottom: 15px


@media screen and ( min-width: 768px )

  .feedback
    .text-wrap
      text-align: start
      .text-inner ul li 
        justify-content: start

  .lighter-md
    background: #fff
  .darker-md
    background: #252B41

  .vertical-title-wrap
    margin-bottom: 0
    display: block
    -webkit-transform: rotateZ(-90deg) translateY(0%) //Chrome, Safari
    -moz-transform: rotateZ(-90deg) translateY(0%)//Firefox
    -o-transform: rotateZ(-90deg) translateY(0%) //Opera
    -ms-transform: rotateZ(-90deg) translateY(0%) //IE
    transform: rotateZ(-90deg) translateY(0%) //браузеры без префексов
    display: block
    transform: rotateZ(-90deg) translateY(0)
    width: 1px
    height: 1px

  .vertical-title
    display: block
    width: 450px
    position: absolute
    right: 0px
    text-align: right
    top: -27px
    padding: 0 30px 
    &.line
      p
        display: inline-block
        position: relative
        &::before
          content: ''
          width: 100%
          min-width: 400px
          height: 1px 
          display: block
          position: absolute
          background: #252b41
          right: calc(100% + 30px)
          bottom: 50%
    &.vertical-title-center
      right: -225px
      text-align: center
    &.vertical-title-end
      text-align: left
    &.offset-off
      padding: 0
    &.offset-large
      padding: 0 70px 
    // &::before
    //   content: ''
    //   height: 1px
    //   width: 100vh
    //   display: block
    //   background: #444
    //   position: absolute
    //   top: 50%
    //   left: -87vh

// end @media
@media screen and ( min-width: 992px )

  .title-wrap
    &.plus-pt
      padding-top: 20px

  .pb-lg-65
    padding-bottom: 40px

  .grayer-lg
    background:  $bg-all
  .translateY-lg
    transform: translateY(-145px)

.title-wrap
  padding: 20px 0
  h1, h2, h3, h4 
    font-style: normal
    font-family: $font-family-regolar
    color: $text-black
    font-weight: bold
  h1
    font-size: 35px
    line-height: 40px

  h2
    font-size: 25px
    line-height: 34px
    &.large
      font-size: 30px
      line-height: 32px
  h3
    font-size: 20px
    &.smol
      font-size: 15px
      line-height: 20px
      text-transform: uppercase

  h4 
    font-size: 18px
    line-height: 25px


.icon-ua 
  position: relative
  &::before
    content: ''
    width: 21px
    height: 11px
    margin-left: 10px
    background: url('img/flag-ua.png') no-repeat center center / contain

.wrap_all
  overflow: hidden

.oh
  overflow: hidden
@media screen and ( min-width: 1200px )

  .mb-125
    margin-bottom: 125px

@media screen and ( min-width: 576px )

  section, footer
    padding: 40px 0

  .btn
    padding: 18px 25px

@media screen and ( min-width: 768px )

  section, footer
    &.cut-bottom
      padding-bottom: 0

  .section
    padding: 100px 0

@media screen and ( min-width: 1200px )

  .title-wrap
    h2
      &.large
        font-size: 35px
        line-height: 40px