.address, .phone, .logo
    padding: 15px
    margin: 0
    font-family: Nunito
    font-weight: 600
    font-size: 15px
    line-height: 20px
    letter-spacing: 0.05em
    color: #fff
    i
        margin-right: 10px
        color: #fff
        transition: $transition
    p   
        color: #fff
    a
        transition: $transition
        color: #fff
    
    > *
        padding: 0
        margin: 0
.phone
    &:hover
        a, i
            color: $accent
.logo
    height: 86px
    display: flex
    img
        height: 100%
        width: auto
        
.panel-top
    border-bottom: 1px solid  #C4C4C4
    z-index: 90
    position: absolute
    left: 100px
    top: 0
    right: 0
    width: calc(100% - 100px)
    .btn-wrap
        margin: 15px 0


.lang 
    &-list
    &-item
        margin: auto 5px
        a 
            font-family: $font-family-regolar
            color: $text-black
            font-style: normal
            font-weight: normal
            font-size: 15px
            line-height: 20px
            color: #fff
            transition: all .3s
            text-transform: uppercase
            &:hover
                color: #F1404B
        &.active
            a
                color: #F1404B

        