$accent:                  #E74C3C
$accent2:                 #FFB700
$accent-lighten:          lighten($accent, 5%)

$text-white:              #ffffff
$text-dark:               #8992A4
$text-black:              #252B41
$text-gray:               #DCDFE6
$bg-all:                  #F4F5F9

$bg-popup:                rgba(#222, .6)

$transition:              all 0.3s ease-out
$font-family-regolar:     'Nunito', sans-serif


$box-shadow:  0 0 15px 0 rgba($text-dark, .25)
